.quiz {
    
    box-shadow: 25px 15px 15px 25px;
    margin: 50px 20px;
}
.quiz h5 {
    color: blue;
    
}
.quiz p{
    color: magenta;
    font-weight: bold;
}
.quiz img {
    width: 100%;
    background-color:salmon;
    padding: 20px;
    /* border-radius: 8px; */
    /* border: 2px solid black; */

}
.btn-text {
    color: black;
    font-weight: bold;

}
.btn-text:hover{
    color: white;
}


