.topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: rgba(128, 128, 128,0.4);
    
}
.header {
    background-color: #FFA07A;
    color: black;
    padding: 20px;
}
.web-text {
    color: blue;
    font-weight: bolder;
    width: 100%;
}