.topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* padding: 20px; */
    
}
.header {
    background-color: #FFA07A;
    color: black;
    padding: 20px;
}
.web-text {
    color: blue;
    font-weight: bolder;
    width: 100%;
}