.questions {
  background-color: gainsboro;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 50px;
}
.questions h5 {
  margin-bottom: 20px;
  color: blue;
  font-weight: bold;
}
.qs-header {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.eye-icon {
    width: 20px;
}
.qs-header button {
    border: none;
    background-color: gainsboro;
    
}
