.rechart-container{
    width: 50%;
    margin: auto;
    background-color: rgba(128, 128, 128,0.9);
}
.rechart-header{
    margin-bottom: 30px;
    font-weight: bolder;

}
.quizes-txt {
    color: red;
}