.title {
    font-size: 40px;
    font-weight: bolder;
    color: blue;
}
.route {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.web-text{
    color: black;
}
